:root {
  --gap: 24px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --hljs-bg: rgb(28, 29, 33);
  --border: rgb(238, 238, 238);

  --transparency: 0.3;
  --copy-icon-hovor: #ffa7c4;
  --copied-icon: greenyellow;
  --content-gap: 2rem;
  --accent: #d23669;
  --accent-rgb: 210, 54, 105;
  --high-contrast: black;
  --low-contrast: rgb(247, 247, 247);
  --code-in-table-2n: rgb(231, 231, 231);
  --copy-icon-bg: rgb(74, 75, 79);
  --copy-icon: rgb(157, 158, 162);
  --code-bg: rgb(239, 239, 239);
}

main {
  --color-prettylights-syntax-comment: var(--content);
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #24292f;
  --color-btn-bg: #f6f8fa;
  --color-btn-border: rgb(31 35 40 / 15%);
  --color-btn-shadow: 0 1px 0 rgb(31 35 40 / 4%);
  --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgb(31 35 40 / 15%);
  --color-btn-active-bg: hsl(220deg 14% 93% / 100%);
  --color-btn-active-border: rgb(31 35 40 / 15%);
  --color-btn-selected-bg: hsl(220deg 14% 94% / 100%);
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: rgba(var(--accent-rgb), 0.9);
  --color-btn-primary-border: rgb(31 35 40 / 15%);
  --color-btn-primary-shadow: 0 1px 0 rgb(31 35 40 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: var(--accent);
  --color-btn-primary-hover-border: rgb(31 35 40 / 15%);
  --color-btn-primary-selected-bg: hsl(137deg 66% 28% / 100%);
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
  --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
  --color-btn-primary-disabled-bg: rgba(var(--accent-rgb), 0.45);
  --color-btn-primary-disabled-border: rgb(31 35 40 / 15%);
  --color-action-list-item-default-hover-bg: rgb(208 215 222 / 32%);
  --color-segmented-control-bg: #eaeef2;
  --color-segmented-control-button-bg: #fff;
  --color-segmented-control-button-selected-border: #8c959f;
  --color-fg-default: #1F2328;
  --color-fg-muted: #656d76;
  --color-fg-subtle: #6e7781;
  --color-canvas-default: #fff;
  --color-canvas-overlay: #fff;
  --color-canvas-inset: #f6f8fa;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsl(210deg 18% 87% / 100%);
  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-accent-fg: var(--accent);
  --color-accent-emphasis: #0969da;
  --color-accent-muted: rgb(84 174 255 / 40%);
  --color-accent-subtle: #ddf4ff;
  --color-success-fg: #1a7f37;
  --color-attention-fg: #9a6700;
  --color-attention-muted: rgb(212 167 44 / 40%);
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #d1242f;
  --color-danger-muted: rgb(255 129 130 / 40%);
  --color-danger-subtle: #ffebe9;
  --color-primer-shadow-inset: inset 0 1px 0 rgb(208 215 222 / 20%);
  --color-scale-gray-1: #eaeef2;
  --color-scale-blue-1: #b6e3ff;

  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}

main {
  font-family: "Nunito Sans", sans-serif;
}

/* for code */
code,
kbd,
pre,
samp {
  font-family: "Monaco for Powerline", monospace;
}

.giscus {
  margin-top: 56px;
  margin-bottom: (var(--gap));
}

.gsc-left-header>em,
.gsc-comment-box-md-toolbar,
.gsc-comment-box-textarea-extras {
  display: none;
}